body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	margin: 0;
}
.blink {
	font-size: 2em;
	font-weight: 550;
	letter-spacing: 0.4mm;
}